<h1 class="text-center">Dream &amp; Discover</h1>

<div class="row">
  <% @flats.each do |flat| %>
    <div class="col-xs-4">
      <img src="http://lorempixel.com/300/300/city/" class="img-thumbnail">
      <p class="text-center"><%= link_to flat.city, flat %></p>
    </div>
  <% end %>
</div>
